#user-form-container {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 60%, #fff), linear-gradient(70deg, #dbedff 32%, #ebfff0);
    overflow-y: auto;
    overflow-x: hidden;
    background-size: cover;
    font-family: "Crete Round", sans-serif;
    color: black;
    max-height: 87.8vh;
}

#gender-required {
    padding: 0 !important;
}

#gender-required1 {
    padding: 0 !important;
}

.valid {
    color: #0b7866;
}

.invalid {
    color: rgb(231, 78, 78);
}

.custom-control {
    display: inline-block !important;
}

.custom-radio {
    padding-left: 1.5rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="address"],
textarea,
select {
    background: rgb(255, 254, 254) !important;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #ffffff !important;
    color: #0a0a0a;
}

input::placeholder {
    color: #fafafa;
    font-size: 1em;
    /* font-family: fantasy; */
    font-style: italic;
    text-align: right;
}

li {
    list-style: none;
}

.btn-secondary {
    border-radius: 5px;
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
    margin-bottom: 10px;
}

.adduser {
    margin-top: 4rem !important;
    margin-bottom: 5rem !important;
}

#Div4 {
    display: none;
}

body {
    overflow: hidden;
}

.btn-custom {
    background-color: whitesmoke;
    color: white;
}

.borderafter {
    border: 1px solid red !important;
    border-radius: 5px;
}

.borderafterValid {
    border: 1px solid green !important;
    border-radius: 5px;
}

#alertErrors {
    opacity: 1;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
}

.mb-4 {
    margin-top: 40px;
    border-top: 4px solid black !important;
    margin-bottom: 0.2rem !important;
}

.hr-2 {
    margin-top: 0 !important;
    border-top: 1px solid black !important;
    margin-bottom: 3.5rem !important;
}


/* .mb-3 {
      margin-top: 20px;
  } */

.asweome {
    color: rgb(0, 0, 0) !important;
    width: 16px;
    height: 20px;
}

.asweome-address {
    color: red !important;
}

.gen {
    padding-left: 2.5rem;
}

.checkout {
    margin-top: 50px;
}

.reset,
button#languages {
    margin-bottom: 30px;
}

.langsel {
    margin-top: 40px;
}

.fileupload {
    color: red !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
}

.custom-control-label::before {
    background-color: rgb(192, 191, 191);
}

#test {
    padding-top: 6px;
}

@media (min-width: 768px) {
    #Div2 {
        margin-left: 0;
    }
}


/*************************
    * Form Enterprises Mobile
    *************************/

#Div4 {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ecf0f3;
    background-size: cover;
    font-family: "Crete Round", sans-serif;
    color: black;
    max-height: 100vh;
    margin-left: 2em;
}

.enterprise-form {
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 3em;
}

.btn-custom-2 {
    margin-top: 2em;
    margin-bottom: 1.5rem;
}

.format-1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.format-2 {
    font-size: 1.2rem;
    font-weight: bolder;
}


/****************************
   * Form Enterprises Desktop
   *****************************/

@media (min-width: 768px) {
    #Div2 {
        margin-left: 0;
    }
    .enterprise-form {
        height: 100vh;
        overflow-y: auto;
    }
    .btn-custom-2 {
        margin-top: 2em;
        margin-bottom: 4rem;
    }
    .form-row {
        margin-top: 2em;
        align-items: center;
    }
    .format-2 {
        width: 20%;
        font-size: 1.2rem;
        font-weight: bolder;
    }
    .format-3 {
        width: 80%;
    }
    .form-control-width {
        width: 80%;
    }
    .format-1 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #inputDescription {
        width: 100%;
    }
    #Div4 {
        margin-left: 0;
    }
}